<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-4.2.xsd">
	
	<!-- spring容器加载的时候初始化一个httpSolrServer -->
	<!-- 单机版 solrJ-->
	
	<bean id="httpSolrServer" class="org.apache.solr.client.solrj.impl.HttpSolrServer">
		<constructor-arg index="0" value="http://192.168.25.77:8090/solr/collection1"/>
	</bean>
	
	 <!-- 集群版solrJ -->
	 <!-- <bean id="cloudSolrServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
	 	<constructor-arg index="0" value="192.168.25.77:2182,192.168.25.77:2183,192.168.25.77:2184"/>
	 	<property name="defaultCollection" value="collection2"></property>
	 </bean> -->
</beans>
